section{
    width: 100vw;
    height: 100vh;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}
body > div:nth-child(4){
    background: transparent;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 20px solid #ab5454;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
body > div:nth-child(4) > div{
    width: 266px;
    height: 266px;
    border-radius: 100%;
    border: 17px solid #ff0000;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
body > section:nth-child(1){
    background: transparent;
}
body > section:nth-child(1) > div {
    width: 264px;
    height: 264px;
    border-radius: 100%;
    background: darkviolet;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
body > section:nth-child(1) > div > h3{
    color: white;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    margin-top: 0;
}
body > section:nth-child(2){
    background: transparent;
    position: relative;
}
body > section:nth-child(2) > div {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #1f9bd0;
    /*position: sticky;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
body > section:nth-child(2) > div > h3{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    margin-top: 0;
}
body > section:nth-child(3){
    background: transparent;
    position: relative;
}
body > section:nth-child(3) > div {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background: #c66e6e;
    /*position: sticky;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
body > section:nth-child(3) > div > h3{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    margin-top: 0;
}