body{
    overflow: hidden;
}
.slider-frame{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.slide-images{
    margin: 0 0 0 -2400px;
    position: relative;
    animation: slider_animation 10s infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
.image-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
@keyframes slider_animation {
    0%{left: 0px}
    10%{left: 0px}
    20%{left: 1200px}
    30%{left: 1200px}
    40%{left: 2400px}
    50%{left: 2400px}
    60%{left: 2400px}
    70%{left: 2400px}
    80%{left: 1200px}
    90%{left: 1200px}
    100%{left: 0px}
}